/****************/
.div-menu {
  position: absolute;
  margin: 0px;
  padding: 0px;
  z-index: 1000;
  width: 400px;
}

@media (max-width: 768px) {
  .div-menu {
    position: absolute;
    margin: 0px;
    padding: 0px;
    z-index: 1000;
    width: 80%;
  }
}

.div-menu .list-group-item {
  border-radius: 0;
  background-color: #333;
  color: #ccc;
  border-left: 0;
  border-right: 0;
  border-color: #2c2c2c;
  white-space: nowrap;
}

.bg-nav {
  background-color: rgba(
    17,
    100,
    243,
    1
  ); /* For browsers that do not support gradients */
  background-image: linear-gradient(
    to bottom right,
    rgba(25, 156, 251, 1),
    rgba(17, 100, 243, 1)
  ); /* Standard syntax (must be last) */
}

.btn-menu {
  color: white !important;
  background-color: transparent !important;
  border: 1px solid white !important;
  border-radius: 0px !important;
}
.btn-menu:active {
  color: white !important;
  background-color: transparent !important;
  border: 1px solid white !important;
  border-radius: 0px !important;
}
.btn-menu:hover {
  color: white !important;
  background-color: transparent !important;
  border: 1px solid white !important;
  border-radius: 0px !important;
}
.btn-menu:focus {
  color: white !important;
  background-color: transparent !important;
  border: 1px solid white !important;
  border-radius: 0px !important;
}
.color-white {
  color: white;
}

.bg-nav {
  background-color: rgba(
    17,
    100,
    243,
    1
  ); /* For browsers that do not support gradients */
  background-image: linear-gradient(
    to bottom right,
    rgba(25, 156, 251, 1),
    rgba(17, 100, 243, 1)
  ); /* Standard syntax (must be last) */
}

.btn-menu {
  color: white !important;
  background-color: transparent !important;
  border: 1px solid white !important;
  border-radius: 0px !important;
}
.btn-menu:active {
  color: white !important;
  background-color: transparent !important;
  border: 1px solid white !important;
  border-radius: 0px !important;
}
.btn-menu:hover {
  color: white !important;
  background-color: transparent !important;
  border: 1px solid white !important;
  border-radius: 0px !important;
}
.btn-menu:focus {
  color: white !important;
  background-color: transparent !important;
  border: 1px solid white !important;
  border-radius: 0px !important;
}
.color-white {
  color: white;
  padding-left: 15px;
}
